.publish-page {
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  #editor {
    padding: 20px;
    border-radius: 20px;
    background: #fff;
  }
  .at-button {
    margin-top: 100px;
  }
}
