.user-page {
  height: 100vh;

  .user-info {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    padding-bottom: 150px;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .user-avatar {
      margin-left: 20px;
    }

    .user-name {
      color: #fff;
      margin-left: 40px;
    }
  }

  .page-content {
    width: 100%;
    padding: 20px;
    margin-top: -150px;
    box-sizing: border-box;

    .at-list {
      border-radius: 20px;
      overflow: hidden;
      &.bottom {
        margin-top: 100px;
      }
    }
  }
}
